.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%; 
    width: var(--sidebar-width);
    position: fixed;
    padding: 4rem 1rem;
    background-color: var(--azulEscuro);
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.sidebar-item {
    color: var(--branco);
    font-size: 2.2rem;
}

.sidebar-item div {
    font-size: 14px;
}

.sidebar-item:hover {
    color: var(--amarelo); 
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .sidebar {
        position: relative;
        flex-direction: row;
        width: 100%;
        padding: 1rem 2.2rem;
    }

    .sidebar-item div {
        display: none;
    }

    .sidebar-item svg {
        font-size: 2rem;
    }
}