.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%; 
    width: var(--sidebar-width);
    position: fixed;
    padding: 4rem 1rem;
    background-color: var(--azulEscuro);
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-item img {
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}

.sidebar-item div {
    font-size: 14px;
    color: var(--branco);
}

.sidebar-item div:hover{
    color: var(--azulClaro);
    transition-duration: 0.3s;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .sidebar {
        position: relative;
        flex-direction: row;
        width: 100%;
        padding: 1rem 2rem;
    }
}